<div class="modal-dialog">
    <div class="modal-content">
        <div class="col-lx-12 col-md-12 mb-6">
            <div class="card border-left-success shadow h-100 py-2">   
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                        Usuario: <strong><mark> {{user.get_full_name}}</mark></strong>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row px-2">
                        <strong><mark>No tiene privilegios</mark></strong> para cargar opcion solicitada.
                        <br>
                        <small>Para poder acceder, debes loguearse con un usuario con privilegios necesarios</small>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col">
                            <!-- <a href="{% url 'bases:home' %}" class="btn btn-success"><span class="fa fa-home"></span>  Ir al inicio</a> -->
                            <a onclick="return cerrar_modal()" href="#" class="btn btn-danger"><span class="fa fa-undo"></span> Cerrar</a>
                            <a href="{% url 'bases:login' %}" class="btn btn-success"><span class="fa fa-user"></span> Ingresar con otro usuario</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

    