<div class="modal-dialog modal-md">
    <div class="modal-content">
        {% block action_del %}

        {% endblock action_del %}
            {% csrf_token %}
            <div class="col-xl-12 col-md-12 p-1">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">  
                                <div class="text-ms font-weight-bold text-danger text-uppercase mb-1">¿Desea {{title}}:{{obj.descripcion}}?</div>
                                <button type="button" class="btn btn-primary" id="btnInactivar"><i class="far fa-question-circle"></i> Si, Eliminar</button>
                                <button type="button" onclick="return cerrar_modal()" class="btn btn-danger"><i class="far fa-undo"></i>Cancelar</button>
                            </div>
                            <div class="col-auto">
                                <i class="far fa-question-circle fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#btnInactivar').on('click',function(e){
            var id = {{obj.id}};
            var template=''; 
            {% block template %}     
            {% endblock template %}
            //template +=1;
            var data = {'id':id};
            data = JSON.stringify(data);
            $.ajax({
                type:'POST',
                url:template,
                data: data,
            }).done(function(response){
                cerrar_modal();
                mensaje(response,'green')
            }).fail(function(jqXHR, textStatus, errorThorw){
                if(errorThorw){
                    mensaje('Proveedor no existe ','red')
                }
                cerrar_modal();
            }).always(function(data){
                
            });
        });
    });
</script>
