{% extends 'base/base.html' %}

{% block page_content %}    
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    
    {% block sin_modal %}
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">LISTADO DE {{title}}</h6>
         <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones:</div>
                <a class="dropdown-item" href="{% url 'fac:factura_new'%}"><i class="far fa-calendar-plus"></i> Nueva {{ title|lower|capfirst }}</a>

            </div>
        </div> 
    </div>    
    {% endblock sin_modal %}
        
    <!-- Card Body -->
    <div class="card-body">  
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-class" name="f1" id="f1" readonly>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-class" name="f2" id="f2" readonly>
            </div>
            <div class="col-md-4">
                <button class="btn btn-warning" type="button" id="btnPrint"> Imprimir</button>
            </div>
        </div>

        {% if not obj %}
            <div class="alert alert-info">No hay {{title|lower|capfirst}}</div>
        {% else %}  
        <!-- <div class="buttons-toolbar">
            <a href="{% url 'fac:factura_new'%}" class="btn btn-success"><i class="far fa-calendar-plus"></i>Nuevo</a>
        </div> -->
        
        <table 
        data-toggle="table"
        data-pagination="true"
        data-search="true"
        data-show-columns="true"
        data-show-toggle="true"
        data-show-fullscreen="true"
        data-locale="es"
        >       
            <thead>
                <th data-sortable="true" data-field="id">No.</th>
                <th data-sortable="true" data-field="nombres">Cliente</th>
                <th data-sortable="true" data-field="apellidos">Total</th>
                <th data-field="estado">Estado</th>
                <th class="all">Acciones</th>
            </thead>
            <tbody>   
                {% for cat in obj %}
                <tr>
                    <td>{{cat.id}}</td>
                    <td>{{cat.cliente}}</td>
                    <td>{{cat.total}}</td>
                    <td>
                        <div onclick="inactivar({{cat.id}})">
                            {% if cat.estado %}
                            <i class="far fa-thumbs-up text-primary"></i>
                            {% else %}
                            <i class="far fa-thumbs-down text-danger"></i>
                            {% endif %}  
                        </div>       
                    </td>
                    <td>
                        <a href="{% url 'fac:factura_edit' cat.id %}" class="btn btn-warning btn-sm" role="button"><i class="far fa-edit"></i></a>
                    </td>
                </tr>
                {% endfor %}      
            </tbody>
        </table> 
        {% endif %}         
    </div>
</div>
{% endblock page_content %}

{% block js_page %}
<script>
    $(function(){
        $('#f1,#f2').datetimepicker({
            format:'Y-m-d',
            timepicker:false
        });
        $("#btnPrint").click(function(e){
            e.preventDefault();
            var f1,f2;
            f1 = $("#f1").val();
            f2 = $("#f2").val();
            if(f1=="" || f1==null){
              f1="2022-06-09";
            }
            if(f2=="" || f2==null){
              var d = new Date();
              var f2 = d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate();
            }
        
            var url = "imprimir-todas/" + f1 + "/" + f2+"/";
            window.open(url,'facturas');
        });
    });
</script>
{% endblock js_page %}