{% extends 'base/base.html' %}


{% block page_content %}
<div class="col-md-12">

    <!-- Dropdown Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">LISTADO DE CATEGORIAS</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Acciones:</div>
                    <a class="dropdown-item" href="{% url 'inv:categoria_new'%}"><i class="far fa-calendar-plus"></i> Nueva Categoria</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            
            {% if not obj %}
                <div class="alert alert-info">No hay categorias</div>
            {% else %}
            <table class="table table-striped table-hover table">
                <thead>
                    <th>Id</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th>Fecha Creacion</th>
                    <th>F. Modificacion</th>
                    <th class="all">Acciones</th>
                </thead>
                <tbody>
                    {% for cat in obj %}
                        <tr>
                            <td>{{cat.id}}</td>
                            <td>{{cat.descripcion}}</td>
                            <td>{{cat.estado|yesno:'Activo,Inactivo'}}</td>
                            <td>{{cat.fc|date:"d/m/Y H:i:s"}}</td>
                            <td>{{cat.fm|date:"d/m/Y H:i:s"}}</td>
                            <td>
                                <a href="{% url 'inv:categoria_edit' cat.id %}" class="btn btn-warning btn-sm" role="button"><i class="far fa-edit"></i></a>
                                <a href="{% url 'inv:categoria_del' cat.id %}" class="btn btn-danger btn-sm" role="button"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table> 
            <!-- <nav>
                <ul class="pagination justify-content-end">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            Anteriros
                        </a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="#">
                            {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                        </a>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            Siguiente
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav> -->
            {% endif %}         
        </div>
    </div>
</div>
{% endblock page_content %}

{% block js_page %}
    <script>
        $(document).ready(()=>{
            $('.table').DataTable();
            

        });
    </script>
{% endblock js_page %}
    


