{% extends 'base/form.html' %}

{% block Campos %}
<div class="row">     
    <div class="col-10">
        <div class="input-group">
            <input 
                type="text" 
                name="descripcion" 
                maxlength="100" 
                class="form-control {% if form.descripcion.errors %}is-invalid{% endif%}" 
                required 
                id="id_descripcion" 
                placeholder="Ingrese una descripcion"
                {% if obj %}
                value="{{obj.descripcion}}"    
                {% else %}
                value="{% if form.errors %}{{form.descripcion.value}}{% endif %}"    
                {% endif %}      
            >
            <div class="invalid-feedback">
                {% for error in form.descripcion.errors %}{{ error }}{% endfor %}
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label for="id_estado">Estado</label>
            <input 
                type="checkbox" 
                name="estado"  
                {% if obj %}
                    {% if obj.estado %}
                    checked
                    {% endif %}
                {% else %}
                    checked
                {% endif %}   
                class="form-control" 
                id="id_estado"
            >
        </div>
    </div>
    <!-- {{form.as_p}} -->
</div>

{% endblock Campos %}
    