{% extends 'base/form.html' %}

{% block url %}
<form method="POST" role="form" class="form-inline" action="{% url 'inv:categoria_edit' obj.pk %}" enctype="multipart/form-data" >
{% endblock url %}
{% block Campos %}
<div class="row">     
    <div class="col-10">
        <div class="input-group">
            {{form.descripcion}}
        </div>
    </div>
    <div class="col-2">
        <label>Estado</label>
        <div class="form-group">
            {{form.estado}}
        </div>
    </div>
    <!-- {{form.as_p}} -->
</div>

{% endblock Campos %}
    