{% extends 'base/form.html' %}

{% block url %}
<form method="POST" role="form" class="form-inline" action="{% url 'inv:producto_edit' obj.pk %}" enctype="multipart/form-data" >
{% endblock url %}
{% block Campos %}
<div class="row">    
    <div class="col-4">
        <label>Marca</label>
        <div class="imput-group">  
            {{form.marca}}
        </div>
    </div>
    <div class="col-4">
        <label>Sub Categoria</label>
        <div class="input-group">
            {{form.subcategoria}}  
        </div>
    </div>
    <div class="col-4">
        <label>Unidad de Medida</label>
        <div class="input-group">
            {{form.unidad_medida}}  
        </div>
    </div>
    
</div>
<div class="dropdown-divider"></div>
<div class="row">    
    <div class="col-4">
        <label>Ingrese Codigo</label>
        <div class="input-group">
            {{form.codigo}}  
        </div>
    </div>
    <div class="col-4">
        <label>Ingrese Codigo de barra</label>
        <div class="imput-group">  
            {{form.codigo_barra}}
        </div>
    </div>
    <div class="col-4">
        <label>Ingrese Descripcion</label>
        <div class="input-group">
            {{form.descripcion}}  
        </div>
    </div>
    
</div>
<div class="dropdown-divider"></div>
<div class="row">  
    <div class="col-3">
        <label >Ingrese el Precio</label>
        <div class="input-group">
            {{form.precio}}  
        </div>
    </div>  
    <div class="col-3">
        <label>Existencia</label>
        <div class="input-group">
            {{form.existencia}}  
        </div>
    </div>
    <div class="col-3">
        <label>Ultima compra</label>
        <div class="imput-group">  
            {{form.ultima_compra}}
        </div>
    </div>
    <div class="col-3">
        <label>Estado</label>
        <div class="imput-group text-center">  
            {{form.estado}}  
        </div>
    </div> 
    
</div>


{% endblock Campos %}