{% extends 'base/form.html' %}

{% block url %}
<form method="POST" role="form" class="form-inline" action="{% url 'inv:um_edit' obj.pk %}" enctype="multipart/form-data" >
{% endblock url %}

{% block Campos %}
<div class="row">    
    <div class="col-10">
        <label>Ingrese Descripcion</label>
        <div class="input-group">
            {{form.descripcion}}  
        </div>
    </div>
    <div class="col-2">
        <label>Estado</label>
        <div class="imput-group text-center">  
            {{form.estado}}
        </div>
    </div>
</div>
{% endblock Campos %}