{% extends 'base/list.html' %}

{% block sin_modal %}
<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">LISTADO DE {{title}}</h6>
    <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Acciones:</div>
            <a class="dropdown-item" href="{% url 'cmp:compras_new'%}"><i class="far fa-calendar-plus"></i> Nueva {{ title|lower|capfirst }}</a>
            
        </div>
    </div>
</div> 
{% endblock sin_modal %}
    
{% block columnas %}
    <th>Id</th>
    <th>F. Compra</th>
    <th>Observación</th>
    <th>No. Factura</th>
    <th>F. Factura</th>
    <th>Sub Total</th>
    <th>Descuento</th>
    <th>Total</th>
    <th>Estado</th>
    <th class="all">Acciones</th>
{% endblock columnas %}

{% block row %}
{% for cat in obj %}
<tr>
    <td>{{cat.id}}</td>
    <td>{{cat.fecha_compra|date:"d/m/Y"}}</td>
    <td>{{cat.observacion|truncatewords:3}}</td>
    <td>{{cat.no_factura}}</td>
    <td>{{cat.fecha_factura|date:"d/m/Y"}}</td>
    <td>{{cat.sub_total}}</td>
    <td>{{cat.descuento}}</td>
    <td>{{cat.total}}</td>
    <td>{{cat.estado|yesno:'Activo,Inactivo'}}</td>
    <td>
        <a href="{% url 'cmp:compras_edit' cat.id %}" class="btn btn-warning btn-circle" role="button"><i class="far fa-edit"></i></a>
    </td>
</tr>
{% endfor %}
{% endblock row %}